@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Netflix Sans', sans-serif;
     background-color: #111; 
}
::-webkit-scrollbar{
    width: 7px;
    background-color: #111;
} 
 ::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
} 
.nav{
    position: fixed;
    top: 0;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all -5s;
    background: transparent;
    height: 25px;

}
   .nav.active{ 
     background-color: #111; 

 }   
.nav_left{
    margin-left: 10px;
    display: flex;
}
ul{
    display: flex;
    
}
ul li{
    list-style: none;
    color: #e6e6e6;
    padding: 20px;
    cursor: pointer;
}
.nav_logo{
    width: 160px;

}
.nav_right{
    position: fixed;
    right: 30px;
    display: flex;
    margin-right: 10px;
    
}
.nav_avatar{
    width: 40px;

}
#banner{
    position: flex;
    color: white;
     object-fit: contain; 
    height: 644px;
    background-position: center center;
    background-size: cover;
    
}
#banner_contents{
    top: 300px;
    margin-left: 70px;
    margin-bottom: 300px;
    height: 500px;
}
#banner_title{
    font-size: 5rem;
     font-weight: 100; 
     padding-bottom: 0.3rem;  
     margin-left: 70px;
    display: flex;
    
}
#banner_description{
    width: 45em;
    line-height: 1.5;
    padding-top: 1rem;
    font-size: .9rem;
    max-width: 360px;
    height: 80px;
    margin-left: 70px;
}
#banner_button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    margin-top: 100px;
    margin-bottom: 1rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    background-color: rgba(51, 51, 51, .5);
    padding-bottom: .5rem;
}
#banner_button:hover{
    color: black;
    background-color: #e6e6e6;
    transition: all .3s;
}
#banner_fadeBottom{
    height: 22rem;
    background: linear-gradient(
        180deg, transparent ,
        rgba(37,37,37,.61),
        #111
    );
}
.row{
    margin-left: 20px;
    color: white;
}
.row_poster{
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    margin-right: 10PX;
    transition: transform 500ms;
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow: scroll;
    padding: 20px;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterLarge,.row_posterLarge1,.row_posterLarge2{
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 500ms;
}
.row_posterLarge:hover,
.row_posterLarge1:hover,
.row_posterLarge2:hover{
    transform: scale(1.09);
    opacity: 1;
}
#banner_buttons{
    margin-left: 70px;
}

